# {{ ansible_managed }}

export JAVA_HOME="/usr/lib/jvm/jdk-8-oracle-arm-vfp-hflt"
export JAVA_LDFLAGS="-L/usr/lib/jvm/jdk-8-oracle-arm-vfp-hflt/jre/lib/arm/server  -R/usr/lib/jvm/jdk-8-oracle-arm-vfp-hflt/jre/lib/arm/server/ -Wl,-ljvm"
export JAVA_CPPFLAGS="-I/usr/lib/jvm/jdk-8-oracle-arm-vfp-hflt/include  -I/usr/lib/jvm/jdk-8-oracle-arm-vfp-hflt/include/linux"
export CFLAGS="-O2 -pipe -march=armv6j -mtune=arm1176jzf-s -mfpu=vfp  -mfloat-abi=hard"
export CXXFLAGS="-O2 -pipe -march=armv6j -mtune=arm1176jzf-s -mfpu=vfp  -mfloat-abi=hard"